/* Pon tu código css aqui */
body{
	margin: 0;
	margin: 0;
}

div{
	width: 200px;
	height: 200px;
}
.rojo{
	background-color: #ee3e64;
}
.azul{
	background-color: #44accf;
	position: absolute;
  	top:  200px; 
  	left: 200px;
}
.verde{
	background-color: #b7d84b;
}
.amarillo{
	background-color: yellow;
}